#!/usr/bin/env bash

# Prevent sudo ignoring aliases
alias sudo="sudo"

# Super list
alias l="ls -hlp --color"

# Super list all
alias la="ls -hlpa --color"

# Super list directory
alias ld="ls -hld --color */"

# Quick edit hosts
alias hosts="sudo nano /etc/hosts"

# Print each PATH entry on a separate line
alias path="echo -e \"${PATH//:/\\n}\""

# Execute gulp in silent mode
alias gulp="[[ $(uname) == \"Darwin\" ]] && gulp --silent"
